.places__url-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row-start: 1;
}

@media (max-width: 680px) {
    .places__url-container {
    grid-row-start: 2;
    padding-left: 12px;
    }
}