.intro {
    display: grid;
    justify-content: center;   
    justify-items: start;
}

@media (max-width: 1024px) {
    .intro {
        justify-content: start;
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        padding-left: 24px;
    }
}

@media (max-width: 438px) {
    .intro {
        padding-left: 16px;
    }
}