.cover__overlay {
    opacity: 30%;
    z-index: 0;    
    grid-column: 1/1;
    grid-row: 1/1;
    background: #2A2C2F;
    transition: .5s linear;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.cover__overlay:hover {
    opacity: 80%;
}

